<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SuperStore Sales Analysis</title>
  <link rel="stylesheet" href="../../ui/bootstraptheme.css">
</head>
<body>

  <div class="container">
    <!--
      - https://gramener.com/imdb/
      - Better design
      - Auto-narrative
      - Step through stories

      - 4 sessions. Create them for MOOC
        - Render votes vs ratings (templates)
          - Take IMDb data as JSON and render as a template
          - Show the design first. (And the back story). Video it.
        - Select and explore movies (jQuery DOM events, highlight)
          - Pick a group or set of groups, and see details about each: gramener.com/software/
        - Apply filters via URL (urlfilter, template vdom, search)
        - Render templatized stories (template, ...)
    -->

    <!--
    <h1 class="h3">SuperStore's sales grew 2% last month, driven by Office Supplies</h1>
    <div class="row">
      <div class="col">
        <h2 class="h5">SuperStore's sales last month was $x, this month is $y</h2>
        <h2 class="h5">This is a typical rise compared to the last few months</h2>
      </div>
      <div class="col">
        <h2 class="h5">Office supplies contributed most to the sales growth</h2>
        <h2 class="h5">Florida reduced the sales growth the most</h2>
        <h2 class="h5">Consumer segment has had the best growth performance</h2>
      </div>
    </div>
    -->
  </div>

  <script src="../../ui/jquery/dist/jquery.min.js"></script>
  <script src="../../ui/lodash/lodash.min.js"></script>
  <script src="../../ui/g1/dist/g1.min.js"></script>
</body>
</html>
