<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>g1 templates</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>
<body>

  <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash"></script>
  <!-- TODO: replace with jsdelivr.net once g1 upgrades beyond 0.17.0 -->
  <script src="../../../ui/g1/dist/g1.min.js"></script>

  <!-- BEGIN -->
  <script type="text/html" class="events">
    <div>
      <i class="text-danger">This text is originally red.</i>
      It will turn green 2 seconds after it is rendered.
    </div>
  </script>
  <script>
    $('.events')
      .on('template', function (e) {
        setTimeout(function () {
          $(e.target).find('i').toggleClass('text-danger text-success')
        }, 2000)
      }).template()
  </script>
  <!-- END -->

</body>
</html>
